@use "../abstract/space";

html,
body {
  background-color: var(--color-background);
  min-height: 100vh;
  margin: 0;
  padding: 0;
  max-width: 100vw;
}

hr {
  width: 50px;
  border: var(--border-solid);
  background-color: var(--color-border);
  margin-top: space.$space-stack-24x;
  margin-left: 0;
  margin-bottom: space.$space-stack-64x;
}
