html,
body {
  background-color: var(--color-background);
  min-height: 100vh;
  margin: 0;
  padding: 0;
  max-width: 100vw;
}

hr {
  width: 50px;
  border: var(--border-solid);
  background-color: var(--color-border);
  margin-left: 0;
}
