@use "../../abstract/variables";
@use "../../abstract/space";
@use "../../abstract/radius";
@use "../../abstract/function";

// Element      Token
//=================================
// Text input   font-size-base
//              font-weight-regular
//              font-style-normal
//              font-height-default

// Value    Token
//========================
// 4px      space-stack-4x

// Value    Token
//==========================
// 4px      space-inline-4x
// 8px      space-inline-8x
// 16px     space-inline-16x

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  --input-color-background: var(--color-background);
  //--input-color-background-hover: ;
  --input-color-border: var(--color-border);
  --input-color-border-hover: var(--nav-color-shapes);
  // Shapes : icons/elements
  --input-color-shapes: var(--color-text);
  --input-color-shapes-hover: var(--nav-color-text);
  --input-color-shapes-active: var(--nav-color-text-hover);
  --input-color-text: var(--color-text);
  --input-color-text-hover: var(--color-text-hover);
  --input-color-text-active: var(--color-text-active);

  padding: space.$space-stack-4x space.$space-inline-8x;

  @include variables.font-style-normal;

  font-size: variables.$font-size-base;
  font-weight: variables.$font-weight-thin;
  line-height: function.line-height(variables.$font-size-base);
  color: var(--input-color-text);

  border-radius: radius.$radius-rounded-4px;
  border: var(--border-solid);
  border-bottom-color: var(--input-color-border);

  &:focus {
    outline: var(--dark-grey-color) solid 1px;
  }

  &.disabled {}

  &.success {}

  &.error {}
}

select {
  --select-color-background: var(--color-background);
  //--select-color-background-hover: ;
  --select-color-border: var(--color-border);
  --select-color-border-hover: var(--nav-color-shapes);
  // Shapes : icons/elements
  --select-color-shapes: var(--color-text);
  --select-color-shapes-hover: var(--nav-color-text);
  --select-color-shapes-active: var(--nav-color-text-hover);
  --select-color-text: var(--color-text);
  --select-color-text-hover: var(--color-text-hover);
  --select-color-text-active: var(--color-text-active);

  border: var(--border-solid);
  border-color: var(--select-color-border);
}

textarea {
  width: 100%;
}
