.badge {
  display: inline-block;
  padding: 0.3125rem 0.625rem;
  margin-left: var(--margin);

  font-size: 0.7rem;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 50rem;
  background-color: var(--light-grey-color);

  a {
    color: var(--dark-grey-color);
  }

  &:hover {
    background: var(--dark-grey-color) var(--gradient-color);

    a {
      color: var(--second-font-color);
    }
  }
}
