@use "../abstract/function";
@use "../abstract/radius";
@use "../abstract/variables";
@use "../abstract/space";

// Button size  Token
//==============================================================================
// Large        font-size-medium
//              font-weight-regular
//              font-style-normal
//              font-height-default
// Medium       font-size-base
//              font-weight-regular
//              font-style-normal
//              font-height-default
// Small        font-size-small
//              font-weight-regular
//              font-style-normal
//              font-height-default

// Value  Token
//==============================================================================
// 4px    space-inline-4x
// 12px   space-inline-12x

// Value  Token
//==============================================================================
// 4px    space-inset-4x
// 12px   space-inset-8x

@mixin btn-default-value() {
  $-space-inset: space.$space-inset-8x;
  $-font-size: variables.$font-size-base;
  $-font-weight: variables.$font-weight-regular;
  $-line-height: function.line-height($-font-size);
  $-height: function.height($-space-inset, $-font-size);

  --btn-space-inset: #{$-space-inset};
  --btn-font-size: #{$-font-size};
  --btn-font-weight: #{$-font-weight};
  --btn-line-height: #{$-line-height};
  --btn-border-radius: var(--border-radius);
  --btn-disabled-opacity: 0.65;
  --btn-min-width: #{function.min-width($-height)};

  --btn-color-background: var(--color-grey-light);
  --btn-color-background-hover: var(--gradient-color);
  --btn-color-border: var(--color-border);
  --btn-color-border-hover: var(--btn-color-shapes);
  --btn-color-shapes: var(--color-grey-dark);
  --btn-color-shapes-hover: var(--btn-color-text);
  --btn-color-shapes-active: var(--btn-color-text-hover);
  --btn-color-text: var(--color-grey-dark);
  --btn-color-text-hover: var(--white);
  --btn-color-text-active: var(--white);

  display: inline-block;
  padding: var(--btn-space-inset);
  font-size: var(--btn-font-size);
  font-weight: var(--btn-font-weight);
  line-height: var(--btn-line-height);
  color: var(--btn-color-text);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: var(--btn-color-border);
  border-color: transparent;
  border-radius: var(--btn-border-radius);
  background: var(--btn-color-background);
  transition: color 0.15s ease-in-out, background 0.15s ease-in-out, border-color 0.15s ease-in-out;
  min-width: var(--btn-min-width);

  &:hover,
  &:active,
  &:focus {
    background: var(--dark-grey-color) var(--btn-color-background-hover);
    color: var(--btn-color-text-hover);
    border-color: var(--btn-color-border-hover);
  }
}

.btn {

  @include btn-default-value;

  a {
    text-decoration: none;
    color: var(--dark-grey-color);
  }

  &:hover {

    a {
      color: var(--btn-color-text-hover);
    }
  }
}
