@use "../abstract/function";
@use "../abstract/radius";
@use "../abstract/typography";
@use "../abstract/space";

// Button size  Token
// Large        font-size-medium
//              font-weight-regular
//              font-style-normal
//              font-height-default
// Medium       font-size-base
//              font-weight-regular
//              font-style-normal
//              font-height-default
// Small        font-size-small
//              font-weight-regular
//              font-style-normal
//              font-height-default

// Value  Token
//========================
// 4px    space-inline-4x
// 12px   space-inline-12x

// Value  Token
//========================
// 4px    space-inset-4x
// 12px   space-inset-8x

@mixin btn-default-value() {
  $-space: space.$space-inset-8x;
  $-font-size: typography.$font-size-base;
  $-font-weight: typography.$font-weight-regular;
  $-line-height: function.line-height($-font-size);
  $-height: function.height($-space, $-font-size);

  --btn-space-inset: #{$-space};
  --btn-font-size: #{$-font-size};
  --btn-font-weight: #{$-font-weight};
  --btn-line-height: #{$-line-height};
  --btn-color: var(--dark-grey-color);
  --btn-bg: var(--light-grey-color);
  --btn-border: var(--border-solid);
  --btn-border-color: var(--border-default-color);
  --btn-border-radius: var(--border-radius);
  --btn-hover-border-color: transparent;
  --btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  --btn-disabled-opacity: 0.65;
  --btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--btn-focus-shadow-rgb), 0.5);
  --btn-min-width: #{function.min-width($-height)};

  display: inline-block;
  padding: var(--btn-space-inset);
  font-size: var(--btn-font-size);
  font-weight: var(--btn-font-weight);
  line-height: var(--btn-line-height);
  color: var(--btn-color);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: var(--btn-border);
  border-color: transparent;
  border-radius: var(--btn-border-radius);
  background-color: var(--btn-bg);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  min-width: var(--btn-min-width);

  &:hover,
  &:active,
  &:focus {
    background: var(--dark-grey-color) var(--gradient-color);
    color: var(--second-font-color);
    border-color: var(--dark-grey-color);
  }
}

.btn {

  @include btn-default-value;
  margin-bottom: var(--margin);

  a {
    text-decoration: none;
    color: var(--dark-grey-color);

    &:hover {
      color: var(--second-font-color);
    }
  }
}
