@use "../abstract/variables";
@use "../abstract/space";
@use "../abstract/radius";
@use "../abstract/function";

// Element    Token
//================================
// Default    font-size-x-small
//            font-weight-thin
//            font-style-normal
//            font-height-default
//================================
// Selected   font-size-x-small
//            font-weight-thin
//            font-style-normal
//            font-height-default

// Value    Token
//========================
// 4px      space-stack-4x

// Value    Token
//=========================
// 4px      space-inline-4x
// 8px      space-inline-8x
$-space-stack: space.$space-stack-4x;
$-space-inline: space.$space-inline-8x;
$-height: function.height($-space-stack, variables.$font-size-base);

@mixin chip {
  --chip-color-background: var(--color-grey-light);
  --chip-color-background-hover: var(--color-background-hover);
  --chip-color-border: var(--color-border);
  --chip-color-border-hover: var(--chip-color-shapes);
  // Shapes : icons/elements
  --chip-color-shapes: var(--color-text);
  --chip-color-shapes-hover: var(--chip-color-text);
  --chip-color-shapes-active: var(--chip-color-text-hover);
  --chip-color-text: var(--color-grey-dark);
  --chip-color-text-hover: var(--white);
  --chip-color-text-active: var(--color-text-active);

  --chip-space-stack: #{$-space-stack};
  --chip-space-inline: #{$-space-inline};

  display: inline-block;
  padding: var(--chip-space-stack) var(--chip-space-inline);
  margin-left: var(--chip-space-inline);
  margin-top: var(--chip-space-stack);

  @include variables.font-style-normal;

  font-size: variables.$font-size-x-small;
  font-weight: variables.$font-weight-thin;
  line-height: function.line-height(variables.$font-size-x-small);

  border-radius: radius.radius-pill($-height);
  background-color: var(--chip-color-background);

  color: var(--chip-color-text);

  &:hover {
    background: var(--chip-color-background-hover) var(--gradient-color);
    color: var(--chip-color-text-hover);
  }

  &.disabled {}
}

.chip {

  @include chip;
}
