@use "../abstract/variables";

/*
                                .container
Extra small : <576px            100%
Small       : sm      ≥576px    576px-2*7vw
Medium      : md      ≥768px    768px-2*7vw
Large       : lg      ≥992px    992px-2*7vw
X-Large     : xl      ≥1200px   1200px-2*7vw
XX-Large    : xxl     ≥1400px   87vw
*/

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 var(--padding);

  @media (min-width: map-get(variables.$breakpoints-container, "sm")) {
    max-width: var(--max-width-sm);
  }

  @media (min-width: map-get(variables.$breakpoints-container, "md")) {
    max-width: var(--max-width-md);
  }

  @media (min-width: map-get(variables.$breakpoints-container, "lg")) {
    max-width: var(--max-width-lg);
  }

  @media (min-width: map-get(variables.$breakpoints-container, "xl")) {
    max-width: var(--max-width-xl);
  }

  @media (min-width: map-get(variables.$breakpoints-container, "xxl")) {
    max-width: var(--max-width-xxl);
  }
}
