@use "../abstract/variables";

//===========================================================
// 1. Main Menu Mobile, Tablet
// 2. Animation : Main Menu Mobile, Tablet
// 3. Main Menu
// 4. Animation : Main Menu
//===========================================================


//===========================================================
// 1. Menu Mobile, Tablet
//===========================================================
.main-navigation {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;

  a {
    background-color: transparent;

    &:hover {
      color: var(--dark-grey-color);
      background-color: var(--grey-color-20);
    }
  }

  ul {
    left: -100vw;
    list-style: none;
    margin: 0;
    padding-left: 0;
    height: 100%;
    width: 60vw;
    background-color: var(--main-bg-color);
  }

  .menu.nav-menu {
    transition: left 500ms ease-in-out;
  }

  .menu-item-has-children {

    > a span {
      margin-left: var(--margin);
    }
  }

  .sub-menu {
    background-color: var(--main-bg-color);
    position: absolute;
    top: 0;
    left: -100vw;
    z-index: 9999;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    height: 100vh;
    width: 60vw;
    transition: left 500ms ease-in-out;

    &.toggled li a {
      border-top: var(--border-solid);
    }
  }

  .return {
    height: 55px;
    width: 55px;
    color: var(--second-font-color);
    background-color: var(--dark-grey-color);

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: variables.$font-size-x-large;

    &:hover {
      background: var(--gradient-color);
    }
  }

  .overlay {
    position: absolute;
    top: 0;
    left: -100vw;
    max-width: 100vw;
    width: 100%;
    height: 100vh;
    background-color: var(--overlay-color);
    z-index: 0;
    opacity: 0;
    transition: opacity 500ms ease-in;
  }

  li a {
    display: block;
    text-decoration: none;
    padding: var(--padding);
    border-bottom: var(--border-solid);
    width: 100%;
    height: 100%;
  }

  > div {
    background-color: var(--main-bg-color);
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 9999;

    .menu.nav-menu {
      position: absolute;
      left: -100vw;
      padding-top: var(--padding);
    }
  }

  &.toggled,
  .toggled {

    > div {
      display: block;
    }

    li a {
      display: flex;
    }
  }

  ul.toggled {

    li a {
      display: flex;
    }
  }
}

.menu-toggle {
  display: block;

  @media (min-width: map-get(variables.$breakpoints-container, "md")) {
    display: none;
  }

  &.btn {
    margin-bottom: 0;
  }
}

//===========================================================
// 2. Animation : Menu Mobile, Tablet
//===========================================================
.main-navigation {

  &.toggled,
  .toggled {
    left: 0;

    .menu.nav-menu {
      left: 0;
    }

    .overlay {
      left: 0;
      opacity: 1;
    }
  }

  &:not(.toggled),
  .seb-menu:not(.toggled) {
    transition: left 1000ms ease-in-out;
  }
}

//===========================================================
// 3. Main Menu
//===========================================================
@media (min-width: map-get(variables.$breakpoints-container, "md")) {

  .main-navigation {

    > div:not(.overlay) {
      display: block;
      position: relative;
      width: 100%;
      height: 100%;

      .menu.nav-menu {
        display: flex;
        align-items: center;
        justify-content: end;
        padding-top: 0;
        width: 100%;
        height: 100%;
        left: 0;
        transition: left 0ms;
      }
    }

    .menu-item-has-children {
      position: relative;
    }

    .sub-menu {
      background-color: var(--main-bg-color);
      position: absolute;
      z-index: 9999;
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
      height: auto;
      width: auto;
      transform: scaleY(0);
      transition: left 0ms, transform 500ms ease-in-out;
      top: 100%;
      left: 0;

      .return {
        display: none;
      }

      &.toggled {

        li a {
          border-top: var(--border-solid);
        }
      }
    }

    .sub-menu .sub-menu {
      left: 100%;
      top: 0;
    }

    li a {
      display: flex;
      color: var(--main-font-color);
      border: none;
      padding: var(--padding);
      height: auto;
      width: 200px;
      opacity: 1;
    }
  }
}

//===========================================================
// 4. Animation : Main Menu
//===========================================================
@media (min-width: map-get(variables.$breakpoints-container, "md")) {

  .main-navigation {

    &.toggled,
    .toggled {

      &.sub-menu {
        transform: scaleY(1);
      }
    }
  }
}

//===========================================================
.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
  margin: 0 0 1.5em;
}

.comment-navigation .nav-links,
.posts-navigation .nav-links,
.post-navigation .nav-links {
  display: flex;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  flex: 1 0 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  text-align: end;
  flex: 1 0 50%;
}
