@use "../abstract/variables";
@use "../abstract/space";
@use "../abstract/function";

//==============================================================================
// 1. Main Menu Mobile, Tablet
// 2. Animation : Main Menu Mobile, Tablet
// 3. Main Menu
// 4. Animation : Main Menu
//==============================================================================

// Component  State           Token
//==============================================================================
// Icon       Inactive        font-size-base
//                            font-weight-regular
//                            font-style-normal
//                            font-height-default
//            Hover, Active   font-size-base
//                            font-weight-bold
//                            font-style-normal
//                            font-height-default
//==============================================================================
// Text only  Normal          font-size-base
//                            font-weight-regular
//                            font-style-normal
//                            font-height-default
//            Hover, Active   font-size-base
//                            font-weight-bold
//                            font-style-normal
//                            font-height-default

//==============================================================================
// Space
//==============================================================================

// Value  Token
//==============================================================================
// 8px    space-stack-8x
//==============================================================================
// 16px   space-inline-16x

// normal
$-normal-font-size: variables.$font-size-base;
$-normal-font-weight: variables.$font-weight-regular;
$-normal-line-height: function.line-height($-normal-font-size);
// hover
$-hover-font-size: variables.$font-size-base;
$-hover-font-weight: variables.$font-weight-bold;
$-hover-line-height: function.line-height($-hover-font-size);
$-hover-height: variables.$header-height;
// active
$-active-font-size: $-hover-font-size;
$-active-font-weight: $-hover-font-weight;
$-active-line-height: $-hover-line-height;
$-active-height: $-hover-height;

$-height: variables.$header-height;
$-min-width: function.min-width($-height);

//==============================================================================
// 1. Menu Mobile, Tablet
//==============================================================================
.main-navigation {
  // normal
  --nav-normal-font-size: #{$-normal-font-size};
  --nav-normal-font-weight: #{$-normal-font-weight};
  --nav-normal-line-height: #{$-normal-line-height};
  // hover
  --nav-hover-font-size: #{$-hover-font-size};
  --nav-hover-font-weight: #{$-hover-font-weight};
  --nav-hover-line-height: #{$-hover-line-height};
  // active
  --nav-active-font-size: #{$-active-font-size};
  --nav-active-font-weight: #{$-active-font-weight};
  --nav-active-line-height: #{$-active-line-height};

  --nav-border-radius: var(--border-radius);
  --nav-disabled-opacity: 0.65;
  --nav-min-width: #{$-min-width};
  --nav-menu-width: 60vw;
  --nav-space-inline: #{space.$space-inline-16x};
  --nav-space-stack: #{space.$space-stack-8x};

  // Color
  --nav-color-background: var(--color-background);
  //--nav-color-background-hover: ;
  --nav-color-border: var(--color-border);
  --nav-color-border-hover: var(--nav-color-shapes);
  // Shapes : icons/elements
  --nav-color-shapes: var(--color-text);
  --nav-color-shapes-hover: var(--nav-color-text);
  --nav-color-shapes-active: var(--nav-color-text-hover);
  --nav-color-text: var(--color-text);
  --nav-color-text-hover: var(--color-text-hover);
  --nav-color-text-active: var(--color-text-active);

  --nav-color-dark-background: var(--color-dark-background);
  // --color-dark-background-hover: ;
  // --color-dark-border: ;
  // --color-dark-border-hover: var(--color-dark-shapes);
  // --color-dark-shapes: ;
  // --color-dark-shapes-hover: var(--color-dark-text);
  // --color-dark-shapes-active: var(--color-dark-text-hover);
  --nav-color-dark-text: var(--color-dark-text);
  // --color-dark-text-hover: ;
  // --color-dark-text-active: ;

  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;

  a {

    @include variables.font-style-normal;

    font-size: var(--nav-normal-font-size);
    font-weight: var(--nav-normal-font-weight);
    line-height: var(--nav-normal-line-height);
    color: var(--nav-color-text);

    padding: 0 var(--nav-space-inline);
    margin: var(--nav-space-stack) 0;

    display: flex;
    justify-content: space-between;

    &:hover {

      @include variables.font-style-normal;

      font-size: var(--nav-hover-font-size);
      font-weight: var(--nav-hover-font-weight);
      line-height: var(--nav-hover-line-height);
      color: var(--nav-color-text-hover);
    }
  }

  ul {
    left: -100vw;
    list-style: none;
    margin: 0;
    padding-left: 0;
    height: 100%;
    width: var(--nav-menu-width);
    background-color: var(--nav-color-background);

    li {
      border-bottom: var(--border-solid) var(--nav-color-border);
    }
  }

  .sub-menu {
    background-color: var(--nav-color-background);
    position: absolute;
    top: 0;
    left: -100vw;
    z-index: 9999;
    box-shadow: var(--box-shadow-1);
    height: 100vh;
    width: var(--nav-menu-width);
  }

  .return {
    --square: 55px;

    height: var(--square);
    width: var(--square);
    color: var(--nav-color-dark-text);
    background-color: var(--nav-color-dark-background);

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: variables.$font-size-x-large;
    cursor: pointer;

    &:hover {
      background: var(--gradient-color);
      cursor: pointer;
    }
  }

  .overlay {
    position: absolute;
    top: 0;
    left: -100vw;
    max-width: 100vw;
    width: 100%;
    height: 100vh;
    background-color: var(--color-overlay);
    z-index: 0;
    opacity: 0;
  }

  > div {
    background-color: var(--nav-color-background);
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 9999;

    .menu.nav-menu {
      position: absolute;
      left: -100vw;
      padding-top: var(--nav-space-stack);
    }
  }

  &.toggled,
  .toggled {

    > div {
      display: block;
    }
  }
}

.menu-toggle {
  display: block;

  @media (min-width: map-get(variables.$breakpoints-container, "md")) {
    display: none;
  }

  &.btn {
    margin-bottom: 0;
  }
}

//==============================================================================
// 2. Animation : Menu Mobile, Tablet
//==============================================================================
.main-navigation {

  &.toggled,
  .toggled {
    left: 0;

    .sub-menu {
      transition: left 500ms ease-in-out;
    }

    .menu.nav-menu {
      left: 0;
      transition: left 500ms ease-in-out;
    }

    .overlay {
      left: 0;
      opacity: 1;
      transition: opacity 500ms ease-in;
    }
  }

  &:not(.toggled),
  .seb-menu:not(.toggled) {
    transition: left 1000ms ease-in-out;
  }
}

//==============================================================================
// 3. Main Menu
//==============================================================================
@media (min-width: map-get(variables.$breakpoints-container, "xl")) {

  .main-navigation {

    a {
      min-width: var(--nav-min-width);
      justify-content: center;
    }
  }
}

@media (min-width: map-get(variables.$breakpoints-container, "md")) {

  .main-navigation {

    > div:not(.overlay) {
      display: block;
      position: relative;
      width: 100%;
      height: 100%;

      .menu.nav-menu {
        display: flex;
        align-items: center;
        justify-content: end;
        padding-top: 0;
        width: 100%;
        height: 100%;
        left: 0;
        transition: left 0ms;
      }
    }

    a {
      width: auto;
      justify-content: center;
    }

    .menu-item-has-children {
      position: relative;

      > a span {
        padding-left: var(--nav-space-inline);
      }
    }

    .sub-menu {
      background-color: var(--nav-color-background);
      position: absolute;
      z-index: 9999;
      height: auto;
      width: auto;
      transform: scaleY(0);
      opacity: 0;
      top: 100%;
      left: 0;

      .return {
        display: none;
      }
    }

    .sub-menu .sub-menu {
      left: 100%;
      top: 0;
    }

    ul {

      li {
        height: 100%;
        display: flex;
        align-items: center;
        border-bottom: 3px solid;
        border-bottom-color: transparent;

        &.current-menu-item {
          border-bottom-color: var(--nav-color-border);
        }

        &:hover {
          border-bottom-color: var(--nav-color-border-hover);
          transition: border-bottom-color 500ms ease-in-out;
        }
      }

      &.toggled {
        top: #{$-height};

        li {
          border-bottom: var(--border-solid);
          border-bottom-color: var(--nav-color-border);

          &:first-child,
          &:last-child {
            border: none;
          }
        }
      }
    }
  }
}

//==============================================================================
// 4. Animation : Main Menu
//==============================================================================
@media (min-width: map-get(variables.$breakpoints-container, "md")) {

  .main-navigation {

    &.toggled,
    .toggled {

      &.sub-menu {
        transform: scaleY(1);
        opacity: 1;
        transition: left 0ms, transform 500ms ease-in-out, opacity 500ms ease-in-out;
      }
    }
  }
}

//==============================================================================
.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
  margin: 0 0 1.5em;
}

.comment-navigation .nav-links,
.posts-navigation .nav-links,
.post-navigation .nav-links {
  display: flex;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  flex: 1 0 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  text-align: end;
  flex: 1 0 50%;
}
