@use "../abstract/variables";
@use "../abstract/space";

.sticky {
  display: block;
}

.post,
.page {
  margin: 0 space.$space-stack-16x;
}

.updated:not(.published) {
  display: none;
}

.page-content,
.entry-content,
.entry-summary {
  margin: space.$space-stack-16x 0;
}

.page-links {
  clear: both;
  margin: 0 space.$space-stack-16x;
}

.entry-header {

  .entry-title {
    width: 35vw;
  }

  .entry-meta {
    font-size: variables.$font-size-small;
  }
}
