@use "../abstract/variables";
@use "../abstract/space";

.widget-area {
  --widget-space-inline: #{space.$space-inline-16x};
  --widget-space-stack: #{space.$space-stack-64x};

  width: 100%;
  margin-top: var(--widget-space-stack);
}

@media (min-width: map-get(variables.$breakpoints-container, "lg")) {

  .widget-area {
    width: 300px;
    margin-left: var(--widget-space-inline);
    margin-top: 0;
  }
}
