@use "../abstract/variables";

.content {
  display: block;
  min-height: calc(100vh - var(--header-height) - var(--footer-height) - ( var(--grid-gap) * 2 ));

  @media (min-width: map-get(variables.$breakpoints-container, "lg")) {
    display: flex;
  }
}

.site-main {
  width: 100%;
}
