@use "../abstract/typography";

.site-footer {
  display: flex;
  align-items: center;

  @include typography.font-style-normal;
  font-weight: typography.$font-weight-thin;

  border-top: var(--border-solid);
}
