@use "../abstract/variables";

.site-footer {
  --ft-height: #{variables.$footer-height};

  display: flex;
  align-items: center;
  height: var(--ft-height);

  @include variables.font-style-normal;
  font-weight: variables.$font-weight-thin;

  border-top: var(--border-solid);
}
