@use "../abstract/variables";

.site-footer {
  display: flex;
  align-items: center;

  @include variables.font-style-normal;
  font-weight: variables.$font-weight-thin;

  border-top: var(--border-solid);
}
