.site {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: var(--header-height) 1fr var(--footer-height);
  gap: var(--grid-gap) 0;
  grid-auto-flow: row;
  grid-template-areas:
    "header"
    "content"
    "footer";
}

.site-header {
  grid-area: header;
}

.content {
  grid-area: content;
}

.site-footer {
  grid-area: footer;
}
