@use "../abstract/variables";
@use "../abstract/typography";
@use "../abstract/function";

.site-header {
  border-bottom: var(--border-solid);
  position: sticky;
  top: 0;

  background-color: var(--main-bg-color);

  .container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 0 var(--grid-gap);
    height: 100%;
  }
}

.site-branding {
  display: flex;
  height: 100%;
}

.site-title {
  font-weight: typography.$font-weight-bolder;
  font-size: typography.$font-size-x-large;

  height: 100%;
  margin: 0;

  a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    text-decoration: none;

    height: 100%;
  }

}

.site-description {
  display: none;

  @media (min-width: map-get(variables.$breakpoints-container, "lg")) {
    display: flex;
    align-items: end;
    font-weight: 300;
    font-size: typography.$font-size-base;
    line-height: function.line-height(typography.$font-size-base);
    height: 100%;
    width: 100%;
  }
}
