@use "../abstract/variables";
@use "../abstract/function";
@use "../abstract/space";

//==============================================================================
// --color-background: ;
// --color-background-hover: ;
// --color-border: ;
// --color-border-hover: var(--color-shapes);
// Shapes : icons/elements
// --color-shapes: ;
// --color-shapes-hover: var(--color-text);
// --color-shapes-active: var(--color-text-hover);
// --color-text: ;
// --color-text-hover: ;
// --color-text-active: ;

//==============================================================================
// Value    Token
//==============================================================================
// 64px     space-stack-6x

$-space-stack: space.$space-stack-64x;

.site-header {
  --hd-space-stack: #{$-space-stack};
  --hd-height: #{variables.$header-height};

  --hd-color-background: var(--color-background);
  //--hd-color-background-hover: ;
  --hd-color-border: var(--color-border);
  --hd-color-border-hover: var(--hd-color-shapes);
  //Shapes : icons/elements
  --hd-color-shapes: var(--color-text);
  --hd-color-shapes-hover: var(--hd-color-text);
  --hd-color-shapes-active: var(--hd-color-text-hover);
  --hd-color-text: var(--color-text);
  --hd-color-text-hover: var(--color-text-hover);
  --hd-color-text-active: var(--color-text-active);

  background-color: var(--hd-color-background);
  border-bottom: var(--border-solid);
  border-bottom-color: var(--hd-color-border);
  position: sticky;
  top: 0;
  height: var(--hd-height);
  margin-bottom: var(--hd-space-stack);
  z-index: 9999;

  .container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 0 var(--grid-gap);
    height: 100%;
  }
}

.site-branding {
  display: flex;
  height: 100%;
}

.site-title {
  font-weight: variables.$font-weight-bolder;
  font-size: variables.$font-size-x-large;
  line-height: initial;

  height: 100%;
  margin: 0;

  a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    text-decoration: none;

    height: 100%;
  }

}

.site-description {
  display: none;

  @media (min-width: map-get(variables.$breakpoints-container, "lg")) {
    display: flex;
    align-items: end;
    font-weight: 300;
    font-size: variables.$font-size-base;
    line-height: function.line-height(variables.$font-size-base);
    height: 100%;
    width: 100%;
  }
}
