$color-0: hsla(220, 0%, 100%, 1);
//7:1 (#525960FF) ↑
$color-0-5: hsla(220, 100%, 98%, 1);
$color-1: hsla(220, 100%, 95%, 1);
$color-1-5: hsla(220, 95%, 93%, 1);
$color-2: hsla(220, 96%, 90%, 1);
$color-3: hsla(220, 95%, 85%, 1);
//7:1 (#2D3139FF) ↑
$color-4: hsla(220, 94%, 81%, 1);
$color-5: hsla(220, 93%, 76%, 1);
$color-6: hsla(220, 93%, 72%, 1);
$color-7: hsla(220, 91%, 68%, 1);
$color-8: hsla(220, 90%, 64%, 1);
$color-9: hsla(220, 88%, 61%, 1);
$color-11: hsla(220, 85%, 58%, 1);
$color-11: hsla(220, 82%, 54%, 1);
$color-12: hsla(220, 78%, 51%, 1);
$color-13: hsla(220, 80%, 48%, 1);
$color-14: hsla(220, 84%, 44%, 1);
//7:1 (#FFFFFF) ↓
$color-15: hsla(220, 88%, 39%, 1);
$color-16: hsla(220, 91%, 31%, 1);
$color-17: hsla(220, 95%, 22%, 1);
$color-18: hsla(220, 97%, 14%, 1);
$color-19: hsla(220, 97%, 14%, 1);
$color-20: hsla(220, 100%, 0%, 1);
