$color-0: hsla(0, 0%, 100%, 1);
$color-0-5: hsla(0, 0%, 95%, 1);
$color-1: hsla(0, 0%, 91%, 1);
$color-1-5: hsla(0, 0%, 86%, 1);
$color-2: hsla(0, 0%, 82%, 1);
$color-3: hsla(0, 0%, 77%, 1);
$color-4: hsla(0, 0%, 73%, 1);
$color-5: hsla(0, 0%, 68%, 1);
$color-6: hsla(0, 0%, 64%, 1);
$color-7: hsla(0, 0%, 59%, 1);
$color-8: hsla(0, 0%, 55%, 1);
$color-9: hsla(0, 0%, 50%, 1);
$color-10: hsla(0, 0%, 45%, 1);
$color-11: hsla(0, 0%, 41%, 1);
$color-12: hsla(0, 0%, 36%, 1);
$color-13: hsla(0, 0%, 32%, 1);
$color-14: hsla(0, 0%, 27%, 1);
$color-15: hsla(0, 0%, 22%, 1);
$color-16: hsla(0, 0%, 18%, 1);
$color-17: hsla(0, 0%, 14%, 1);
$color-18: hsla(0, 0%, 9%, 1);
$color-19: hsla(0, 0%, 5%, 1);
$color-20: hsla(0, 0%, 0%, 1);
