$color-0: hsla(54, 0%, 100%, 1);
$color-0-5: hsla(54, 100%, 98%, 1);
//7:1 (#525960FF) ↑
$color-1: hsla(54, 100%, 95%, 1);
$color-1-5: hsla(54, 95%, 93%, 1);
$color-2: hsla(54, 96%, 90%, 1);
$color-3: hsla(54, 95%, 85%, 1);
$color-4: hsla(54, 94%, 81%, 1);
$color-5: hsla(54, 93%, 76%, 1);
$color-6: hsla(54, 93%, 72%, 1);
$color-7: hsla(54, 91%, 68%, 1);
$color-8: hsla(54, 90%, 64%, 1);
$color-9: hsla(54, 88%, 61%, 1);
$color-11: hsla(54, 85%, 58%, 1);
$color-11: hsla(54, 82%, 54%, 1);
$color-12: hsla(54, 78%, 51%, 1);
$color-13: hsla(54, 80%, 48%, 1);
//7:1 (#2D3139FF) ↑
$color-14: hsla(54, 84%, 44%, 1);
$color-15: hsla(54, 88%, 39%, 1);
$color-16: hsla(54, 91%, 31%, 1);
$color-17: hsla(54, 95%, 22%, 1);
//7:1 (#FFFFFF) ↓
$color-18: hsla(54, 97%, 14%, 1);
$color-19: hsla(54, 97%, 14%, 1);
$color-20: hsla(54, 100%, 0%, 1);
