// Vertical Spacing
// Token name       Value
//=======================
// space-stack-x    1px
// space-stack-2x   2px
// space-stack-4x   4px
// space-stack-6x   6px
// space-stack-8x   8px
// space-stack-10x  10px
// space-stack-12x  12px
// space-stack-16x  16px
// space-stack-20x  20px
// space-stack-24x  24px
// space-stack-32x  32px
// space-stack-48x  48px
// space-stack-64x  64px
$space-stack-x: 0.0625rem;
$space-stack-2x: 2px;
$space-stack-4x: 0.25rem;
$space-stack-6x: 0.375rem;
$space-stack-8x: 0.5rem;
$space-stack-10x: 0.625rem;
$space-stack-12x: 0.75rem;
$space-stack-16x: 1rem;
$space-stack-20x: 1.25rem;
$space-stack-24x: 1.5rem;
$space-stack-32x: 2rem;
$space-stack-48x: 3rem;
$space-stack-64x: 4rem;

// Horizontal Spacing
// Token name       Value
//=======================
// space-inline-x   1px
// space-inline-2x  2px
// space-inline-4x  4px
// space-inline-6x  6px
// space-inline-8x  8px
// space-inline-10x 10px
// space-inline-12x 12px
// space-inline-16x 16px
// space-inline-20x 20px
// space-inline-24x 24px
// space-inline-32x 32px
// space-inline-48x 48px
// space-inline-64x 64px
$space-inline-x: 0.0625rem;
$space-inline-2x: 0.125rem;
$space-inline-4x: 0.25rem;
$space-inline-6x: 0.375rem;
$space-inline-8x: 0.5rem;
$space-inline-10x: 0.625rem;
$space-inline-12x: 0.75rem;
$space-inline-16x: 1rem;
$space-inline-20x: 1.25rem;
$space-inline-24x: 1.5rem;
$space-inline-32x: 2rem;
$space-inline-48x: 3rem;
$space-inline-64x: 4rem;

// Padding Spacing
// Token name       Value
//=======================
// space-inset-x    1px
// space-inset-2x   2px
// space-inset-4x   4px
// space-inset-6x   6px
// space-inset-8x   8px
// space-inset-10x  10px
// space-inset-12x  12px
// space-inset-16x  16px
// space-inset-20x  20px
// space-inset-24x  24px
// space-inset-32x  32px
// space-inset-48x  48px
// space-inset-64x  64px
$space-inset-x: 0.0625rem;
$space-inset-2x: 0.125rem;
$space-inset-4x: 0.25rem;
$space-inset-6x: 0.375rem;
$space-inset-8x: 0.5rem;
$space-inset-10x: 0.625rem;
$space-inset-12x: 0.75rem;
$space-inset-16x: 1rem;
$space-inset-20x: 1.25rem;
$space-inset-24x: 1.5rem;
$space-inset-32x: 2rem;
$space-inset-48x: 3rem;
$space-inset-64x: 4rem;
