@use "function";
@use "variables";

body,
button,
input,
select,
optgroup,
textarea {
  color: var(--main-font-color);
  font-family: sans-serif;
  font-size: variables.$font-size-base;
  font-weight: variables.$font-weight-thin;

  @include variables.font-style-normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
}

h1 {
  font-weight: variables.$font-weight-thin;
  font-size: variables.$font-size-3x-large;
  line-height: function.line-height(variables.$font-size-3x-large);
}

h2 {
  font-weight: variables.$font-weight-thin;
  font-size: variables.$font-size-2x-large;
  line-height: function.line-height(variables.$font-size-2x-large);
}

p {
  font-size: variables.$font-size-medium;
  line-height: function.line-height(variables.$font-size-medium);

  margin-bottom: 1.5em;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

blockquote {
  margin: 0 1.5em;
}

address {
  margin: 0 0 1.5em;
}

pre {
  background: var(--second-font-color);
  font-family: "Courier 10 Pitch", courier, monospace;
  font-size: variables.$font-size-base;
  line-height: function.line-height(variables.$font-size-base);
  overflow: auto;
  padding: 1.6em;
  margin-bottom: 1.6em;
  max-width: 100%;
}

code,
kbd,
tt,
var {
  font-family: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

abbr,
acronym {
  border-bottom: 1px dotted var(--grey-color);
  cursor: help;
}

mark,
ins {
  background: var(--mark-bg-color);
  text-decoration: none;
}

big {
  font-size: variables.$font-size-large;
  line-height: function.line-height(variables.$font-size-large);
}


a {
  color: var(--main-font-color);

  &:visited {
    color: var(--main-font-color);
  }

  &:hover,
  &:focus,
  &:active {
    color: var(--dark-grey-color);
  }

  &:focus {
    outline: thin dotted;
  }

  &:hover,
  &:active {
    outline: 0;
  }
}
