$breakpoints-container: (
  "sm": 576px,
  "md": 768px,
  "lg": 992px,
  "xl": 1200px,
  "xxl": 1400px
);

// Token name          Value  rem       Usage
//==========================================================
// font-size-4x-large  48px   3rem      Header
// font-size-3x-large  32px   2rem      Header
// font-size-2x-large  28px   1.75rem   Header
// font-size-x-large   24px   1.5rem    Header, body text
// font-size-large     20px   1.25rem   Header, body text
// font-size-medium    18px   1.125rem  Body text
// font-size-base      16px   1rem      Body text
// font-size-small     14px   0.875rem  Description, caption
// font-size-x-small   12px   0.75rem   Description, caption
// font-size-2x-small  10px   0.625rem  Description, caption
$font-size-4x-large: 3rem;
$font-size-3x-large: 2rem;
$font-size-2x-large: 1.75rem;
$font-size-x-large: 1.5rem;
$font-size-large: 1.25rem;
$font-size-medium: 1.125rem;
$font-size-base: 1rem;
$font-size-small: 0.875rem;
$font-size-x-small: 0.75rem;
$font-size-2x-small: 0.625rem;

// Token name           Value
//==========================================================
// font-weight-bolder   900
// font-weight-bold     700
// font-weight-medium   500
// font-weight-regular  400
// font-weight-thin     300
$font-weight-bolder: 900;
$font-weight-bold: 700;
$font-weight-medium: 500;
$font-weight-regular: 400;
$font-weight-thin: 300;

// Token name                 Value
//==========================================================
// font-style-normal          normal
// font-style-underline       underline
// font-style-strikethrough   line-through
@mixin font-style-normal {
  font-style: normal;
  text-decoration: none;
}

@mixin font-style-underline {
  font-style: normal;
  text-decoration: underline;
}

@mixin font-style-strikethrough {
  font-style: normal;
  text-decoration: line-through;
}

// line height = font size x 1.5
//==========================================================
$font-height-default: 1.5;
$header-height: 85px;
$footer-height: 55px;

:root {
  --header-height: #{$header-height};
  --footer-height: #{$footer-height};
  --border-solid: 1px solid;
  --border-radius: 0.375rem;
  --grid-gap: 15px;
}
